header {
    background-color: rgb(65, 134, 224);
    background-image: url("../img/pattern.png");
    background-size: 500px;
    /* height: 150px; */
    padding-top: 50px;
}

header img {
    width: 20%;
}

figure img {
    width: 49%;
    height: 600px;
}

#main-title {
    font-size: 50px;
    margin: 0;
}

#credits {
    font-size: 20px;
    color: grey;
}

#date {
    color: grey;
    font-size: 15px;
}

#credits a {
    text-decoration: none;
}